{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    
    <div class="container">
        {% if user.is_authenticated %}
            <div class="container fixed-card card">
                <h1>User is authenticated</h1>
                <p>This is a <strong>chat system app</strong> build in <strong>Python-Django</strong>.<br>
                
                <ul style="text-align: left;">
                    Featues:
                    <li>Sign up to chat.</li>
                    <li>Log in and log out from the app.</li>
                    <li>Send messages and read messages.</li>
                    <li>Create new rooms.</li>
                </ul></p>
            </div>
        {% else %}
        <div class="container fixed-card card">
            <h1>User is not authenticated</h1>
            <p>Make sure or <strong>logged in</strong> else you can <strong>sign up</strong>.</p>
            <a href="{% url 'login' %}" style="text-decoration: underline;">Follow this link to login or check the top right corner.</a>
            <a href="{% url 'register' %}" style="text-decoration: underline;">Follow this link to sign up or check the top right corner.</a>
        </div>
        {% endif %}
    </div>

{% endblock %}