

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

$font-family-sans-serif-2: 'Roboto', sans-serif;
$font-family-serif: 'Source Serif Pro', serif;
$font-family-sans-serif: 'Roboto', sans-serif;



body {
	font-family: $font-family-sans-serif;
	background-color: #fff;
}
p {
	color: darken(#ccc, 10%);
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-family-sans-serif;
}
a {
	transition: .3s all ease;
	&:hover {
		text-decoration: none!important;
	}
}
.content {
	padding: 7rem 0;
}
h2 {
	font-size: 20px;
}

.half {
	// padding: 7rem 0;
	&, & .container > .row {
		height: 100vh;
		min-height: 900px;
	}
	
	.bg {
		@include media-breakpoint-down(md) {
			height: 200px;
		}
	}
	.contents {
		background: #f6f7fc;
	}
	.contents {
		width: 80%;
	}
	.bg {
		width: 20%;
	}
	
	// width: 50%;
	.contents, .bg {
		@include media-breakpoint-down(md) {
			width: 100%;
		}
		
		
		.form-control {
			border: none;
			box-shadow: 0 1px 2px 0 rgba($black, .1);
			border-radius: 4px;
			height: 54px;
			background: $white;
			&:active, &:focus {
				outline: none;
				box-shadow: 0 1px 2px 0 rgba($black, .1);
			}
		}
	}
	.bg {
		background-size: cover;
		background-position: center;
	}
	a {
		color: #888;
		text-decoration: underline;
	}
	.btn {
		height: 54px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.forgot-pass {
		position: relative;
		top: 2px;
		font-size: 14px;
	}
}


.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  .caption {
  	position: relative;
  	top: .2rem;
  	color: #888;
  }
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: $primary;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: lighten($primary, 5%);
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none;
}
.control__indicator:after {
	font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  transition: .3s all ease;
}
.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff;
}
.control--checkbox .control__indicator:after {
	top: 50%;
	left: 50%;
	margin-top: -1px;
	transform: translate(-50%, -50%);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2;
}