{% extends 'blood/adminbase.html' %}
{% block content %}
<br><br>
<div class="container">

    <div class="row">
        <div class="col-sm-3">
          <div class="card bg-light">
            <div class="card-body">
                <div class="blood">
                    <h2>A+ <i class="fas fa-tint"></i></h2>
                </div><br><br>
                <div>
                    {{A1.unit}}
                </div>                            
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>B+ <i class="fas fa-tint"></i></h2>
                    </div><br><br>
                    <div>
                      {{B1.unit}}
                    </div>                            
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>O+ <i class="fas fa-tint"></i></h2>
                    </div><br><br>
                    <div>
                      {{O1.unit}}
                    </div>                            
                </div>
              </div>
          </div>
          <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>AB+ <i class="fas fa-tint"></i></h2>
                    </div><br><br>
                    <div>
                      {{AB1.unit}}
                    </div>                            
                </div>
              </div>
          </div>
      </div>
  
      <div class="row">
        <div class="col-sm-3">
          <div class="card bg-light">
            <div class="card-body">
                <div class="blood">
                    <h2>A- <i class="fas fa-tint"></i></h2>
                </div><br><br>
                <div>
                  {{A2.unit}}
                </div>                            
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>B- <i class="fas fa-tint"></i></h2>
                    </div><br><br>
                    <div>
                      {{B2.unit}}
                    </div>                            
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>O- <i class="fas fa-tint"></i></h2>
                    </div><br><br>
                    <div>
                      {{O2.unit}}
                    </div>                            
                </div>
              </div>
          </div>
          <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <h2>AB- <i class="fas fa-tint"></i></h2>
                    </div><br><br>
                    <div>
                      {{AB2.unit}}
                    </div>                            
                </div>
              </div>
          </div>
      </div>
<hr>
    <div class="row">
      <div class="col-sm-3">
        <div class="card bg-light">
          <div class="card-body">
              <div class="blood">
                  <i class="fas fa-users"></i>
              </div><br>
              <div>
                  Total Donors <br>
                  {{totaldonors}}
              </div>                            
          </div>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="card bg-light">
              <div class="card-body">
                  <div class="blood">
                      <i class="fas fa-spinner"></i>
                  </div><br>
                  <div>
                      Total Requests <br>
                     {{totalrequest}}
                  </div>                            
              </div>
            </div>
      </div>
      <div class="col-sm-3">
          <div class="card bg-light">
              <div class="card-body">
                  <div class="blood">
                      <i class="far fa-check-circle"></i>
                  </div><br>
                  <div>
                      Approved Requests <br>
                      {{totalapprovedrequest}}
                  </div>                            
              </div>
            </div>
        </div>
        <div class="col-sm-3">
          <div class="card bg-light">
              <div class="card-body">
                  <div class="blood">
                      <i class="fas fa-tint xyz"></i>
                  </div><br>
                  <div>
                      Total Blood Unit (in ml) <br>
                      {{totalbloodunit}}
                  </div>                            
              </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->