html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

main {
    padding: 1em 0;
}

main * {
    font-family: Comic Sans MS;
}

#project-title {
    text-shadow: 3px 3px 7px #000;
    padding: 0.1em 0.1em !important;
    color: white;
    font-size: 3em;
    padding-bottom: 0.5em !important;
}


/* Loader */

#pre-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: brightness(.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

#product-result {
    max-height: 43vh;
    z-index: 2;
}

#product-result:empty:after {
    content: "No Result";
    width: 100%;
    text-align: center;
}