{%load static%}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
 
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Main CSS-->

    <link href="{% static "css/main.css" %}"rel="stylesheet" media="all">
    <style>

    </style>
  </head>
  <body>
    {% include "blood/navbar.html" %}




    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <br><br><br>
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Patient Signup</h2>
                </div>
                <div class="card-body">
                    <form method="POST" autocomplete="off" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="name">First Name</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field userForm.first_name|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Last Name</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field userForm.last_name|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Username</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field userForm.username|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>
  
                        <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field userForm.password|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Age</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field patientForm.age|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>



                        <div class="form-row">
                            <div class="name">Blood Group</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="bloodgroup">
                                            <option disabled="disabled" selected="selected">Choose option</option>
                                            <option>O+</option>
                                            <option>O-</option>
                                            <option>A+</option>
                                            <option>A-</option>
                                            <option>B+</option>
                                            <option>B-</option>
                                            <option>AB+</option>
                                            <option>AB-</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Disease</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field patientForm.disease|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Doctor Name</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field patientForm.doctorname|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Address</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field patientForm.address|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Mobile</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field patientForm.mobile|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Profile Pic</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field patientForm.profile_pic|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>

   
  
  

                        <div>
                            <button class="btn btn--radius-2 btn-danger" type="submit">Register</button>
                        </div>
                    </form>
                    <br>
                    <p style="text-align: center;">Already have an account ? <a style="text-decoration: none;" href="/patient/patientlogin">Click here to login</a></p>

                </div>
            </div>
        </div>
    </div>

{% include "blood/footer.html" %}
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->