<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Drag, Drop & Browse</title>
        <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" 
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" 
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="./static/styles.css"/>
    </head>
    <body> 
        <h1>{{sheets}}</h1>
        <form class="form_design" action="/" method = "post" enctype=multipart/form-data>
            <input type="file" name="file" hidden onchange="form.submit()" accept = ".xlsx">
        </form>
            <div class="container">
                <h3>Upload your File</h3>
                <div class="drag-area">
                    <div class="icon">
                        <i class="fas fa-images"></i>
                    </div>
                   <span class="header">Drag & Drop</span> 
                    <span class="header">or <span class="button">browse</span></span>

                    <span class="support">Supports only Excel sheets</span>
                </div>
            </div>

        <script src="./static/script.js"></script>
    </body>
</html>