{%extends 'blog/basic.html'%}
{%block body%}
<div class="container mt-3">
    <div class="row my-2">
        {% for item in myposts %}
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary"> {{item.head0}} </strong>
                    <h3 class="mb-0">{{item.title}}</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">{{item.head1}}</p>
                    <a href="blogpost/{{item.post_id}}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/media/{{item.thumbnail}}" class="bd-placeholder-img" width="200" height="250" aria-label="Placeholder: Thumbnail">
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2%}
    </div>
    <div class="row my-2">
        {%endif%}
        {%endfor%}</div>
</div>
{%endblock%}