<!DOCTYPE HTML><html>
	<head>
		<title>Deepak</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}">
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome Buddy!</a></li>
							<li><a href="#one">Who am I?</a></li>
							<li><a href="#two">What I do</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Deepak sai pendyala</h1>
							<p>Hola amigos! I'm Techy Geek from Generation Z. Here's My <a href="https://github.com/deepaksaipendyala">GitHub Profile.</a><br />
							I'm a Freshman at Amrita Vishwa Vidyapeetham, Coimbatore studying electrical and computer engineering. I'm a C & Py3 Programmer and working on web development </a>.</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">explore me more</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="./static/images/pic01.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Fact 1</h2>
									<p> The password of the computers in charge of controlling the nuclear missiles of the United States Army for years was 0000000000</p>
									<ul class="actions">
										<li><a href="generic.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="./static/images/pic02.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Fact 2</h2>
									<p>The word "Typewriter" is the longest word you can type using only one row of the keyboard.</p>
									<ul class="actions">
										<li><a href="generic.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="./static/images/pic03.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Fact 3</h2>
									<p> CAPTCHA means…
“Completely Automated Public Turing Test to tell Computers and Humans Apart”. This must mean that the Turing Test has already been passed according to the creators of the concept, since Artificial Intelligence has long since been able to overcome captchas</p>
									<ul class="actions">
										<li><a href="generic.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>What I do</h2>
							<p>Currently developing this site :) - Under development</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Joke 1</h3>
									<p>Q: What's the object-oriented way to become wealthy? A: Inheritance</p>
								</section>
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Joke 2</h3>
									<p>Q: What do computers and air conditioners have in common? A: They both become useless when you open windows.</p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Joke 3</h3>
									<p>99 little bugs in the code, 
                    99 bugs in the code, 1 bug fixed...
                    compile again, 100 little bugs in the code.</p>
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Joke 4</h3>
									<p>The programmer's wife sent him to the grocery store. Her instructions were: "Buy butter. See if they have eggs. If they do, buy 10^ prime prime So he bought 10! </p>
								</section>
								<section>
									<span class="icon solid major fa-link"></span>
									<h3>Joke 5</h3>
									<p>The programmer got stuck in the shower because the instructions on the shampoo bottle said... Lather, Rinse, Repeat. BTW did you get the previous joke? 
                  if true : break 
                  else: he didn't bought eggs.</p>
								</section>
								<section>
									<span class="icon major fa-gem"></span>
									<h3>Joke 6</h3>
									<p>I'd like to make the world a better place... but they won't give me the source code :(</p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="generic.html" class="button">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Gimme Feedback!</h2>
							<p>Feel free to suggest new feature or Work with or Hire me as freelancer</p>
							<div class="split style1">
								<section>
									<form method="post" action="/submit_form">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" required />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="email" name="email" id="email" required />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Fly!</a>
                      <input type="reset"></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>Pothavaram<br />
											 ANDHRA PRADESH, 534176<br />
											INDIA</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="mailto:deepak.pendyala.111@gmail.com?subject = Feedback&body = Message">2F5151087306EC</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>1CC38ED35746</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="https://twitter.com/deepak_sai_" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="https://www.facebook.com/deepak.pendyala.9" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
												<li><a href="https://github.com/deepaksaipendyala" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="https://www.instagram.com/deepak__pendyala" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="https://www.linkedin.com/in/deepak-sai-pendyala-545586178" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Deepak sai pendyala. All rights reserved.</li><li>Designed with HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>