@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background: #e0eafc;
    background: -webkit-linear-gradient(to right,#cfdef3,#e0eafc);
    background: linear-gradient(to right,#cfdef3,#e0eafc);
}

.container{
    max-width: 650px;
    width: 100%;
    padding:30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
}

.drag-area{
    height: 400px;
    border: 3px dashed #e0eafc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
}

h3{
    margin-bottom: 20px;
    font-weight: 500;
}

.drag-area .icon{
    font-size: 50px;
    color:#1383ff;
}

.drag-area .header{
    font-size: 20px;
    font-weight: 500;
    color: #34495e;
}

.drag-area .support{
    font-size: 12px;
    color: gray;
    margin: 10px 0 15px 0;
}

.drag-area .button{
    font-size: 20px;
    font-weight: 500;
    color: #1683ff;
    cursor: pointer;
}

.drag-area.active{
    border: 2px solid #1683ff;
}