<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
  
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FF0018;
   color: white;
   text-align: center;
   height:50px;
}
</style>
</head>
<body>

<div class="footer">
  <p>Blood Bank Management System
      <br>
      Made In India &copy; 2021
  </p>

</div>

</body>
</html> 
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->