{% extends 'base.html' %}
{% block title %}Dependency{% endblock title %}Dependency
{% block body %}

<div class="container my-3">
    <img src="../static/depend.png" style="height:600px ;" alt="Test-Image" />
    <img src="../static/2nd.png" style="height:600px ;" alt="Test-Image" />
    <p class="text-center my-4 py-4"><strong class="text-primary text-center">Values below 0 shows negative correlation
            means
            if
            that
            attributes will increase then
            price
            will decrease</strong></p>
</div>

{% endblock body %}