{% extends 'partials/base.html' %}
{% block title %}Customer Page{% endblock %}


{% block content %}
{% include 'partials/topside.html' %}
<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">First</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customer %}
                <tr>
                    <th scope="row"><a class="btn btn-info btn-sm"
                            href="{% url 'dashboard-customer-detail' customer.id %}">View</a></th>
                    <td>{{ customer.username }}</td>
                    <td>{{ customer.profile.phone }}</td>
                    <td>{{ customer.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}